<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/trade.css">
    <title>Kimi no FX</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="js/trade.js"></script>
  </head>

  <body>
    <div class="row">
      <div class="col-sm-5">
        <div id="header">
          <img id="fx-logger-logo" alt="fx-logger-logo" src="image/fx-logger.png">
        </div>
      </div>
      <div class="col-sm-7">
        <div class="col-sm-12" id="search-area-div">
          <form class="form-inline" id="search-area">
            <lable>通貨ペア</lable>
            <select class="form-control" id="search-currency-pair">
              <option value="GBP/JPY" selected>GBP/JPY</option>
              <option value="USD/JPY">USD/JPY</option>
            </select>
            <lable>決済日 From</lable>
            <input class="form-control" type="date" id="search-exit-date-from"></input>
            <lable>To</lable>
            <input class="form-control" type="date" id="search-exit-date-to"></input>
            <button type="button" class="btn btn-info btn-sm" id="search-trade">search</button>
          </form>
        </div>
        <hr>
        <div class="col-sm-12" id="input-area-div">
          <button type="button" class="btn btn-warning-outline btn-block" id="show-input-area">Add New Trade</button>
          <form class="form-inline" id="input-area">
            <lable>通貨ペア</lable>
            <select class="form-control" id="input-currency-pair">
              <option value="GBP/JPY" selected>GBP/JPY</option>
              <option value="USD/JPY">USD/JPY</option>
            </select>
            <lable>買/売</lable>
            <select class="form-control" id="input-buy-or-sell">
              <option value="買" selected>買</option>
              <option value="売">売</option>
            </select>
            <lable>数量</lable>
            <input class="form-control" type="number" id="input-amount"></input>
            <br>
            <lable>エントリー価格</lable>
            <input class="form-control" type="number" id="input-entry-price"></input>
            <lable>終了価格</lable>
            <input class="form-control" type="number" id="input-exit-price"></input>
            <br>
            <lable>エントリー日</lable>
            <input class="form-control" type="date" id="input-entry-date"></input>
            <lable>決済日</lable>
            <input class="form-control" type="date" id="input-exit-date"></input>
            <button type="button" class="btn btn-info btn-sm" id="add-new-trade">Add</button>
          </form>
        </div>
        <div class="col-sm-12">
          <div id="result-summary-div">
            <lable>合計損益</lable><span id="total-profit"></span>
            <lable>取引回数</lable><span id="trade-times"></span>
            <lable>勝率</lable><span id="percentage-of-success"></span>
          </div>
        </div>
      </div>
    </div>

    <div id="monthly-result-div">
      <table class="table table-hover" id="monthly-result-table">
        <thead>
          <tr>
            <th>通貨ペア</th>
            <th>買/売</th>
            <th>数量</th>
            <th>エントリー価格</th>
            <th>終了価格</th>
            <th>エントリー日</th>
            <th>決済日</th>
            <th>損益</th>
            <th>成功/失敗</th>
            <th>入力時刻</th>
            <th></th>
          </tr>
        </thead>
        <tbody id="monthly-result-tbody">
          {{#each monthlyResult}}
          <tr>
            <td>{{currencyPair}}</td>
            <td>{{buyOrSell}}</td>
            <td>{{amount}}</td>
            <td>{{entryPrice}}</td>
            <td>{{exitPrice}}</td>
            <td>{{entryDate}}</td>
            <td>{{exitDate}}</td>
            <td>{{profit}}</td>
            <td>{{successOrNot}}</td>
            <td>{{insertedTime}}</td>
            <td>
              <div class="btn-group" role="group" aria-label="example">
                <button type="button" class="btn btn-danger-outline btn-sm delete-trade">X</button>
                <button type="button" class="btn btn-success-outline btn-sm show-details" data-toggle="modal">Details</button>
              </div>
            </td>
          </tr>
          {{/each}}
        </tbody>
      <table>
    </div>
    <!-- Modal -->
    <div id="trade-detail" class="modal fade" role="dialog">
      <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Trade Detail</h4>
          </div>
          <div class="modal-body">
            <form class="form-inline">
              <p id="detail-inserted-time"></p>
              <div class="form-group form-inline">
                <h4>Basic</h4>
                <lable>通貨ペア</lable>
                <select class="form-control" id="detail-currency-pair">
                  <option value="GBP/JPY">GBP/JPY</option>
                  <option value="USD/JPY">USD/JPY</option>
                </select>
                <lable>数量</lable>
                <input class="form-control" type="number" id="detail-amount"></input>
                <lable>買/売</lable>
                <select class="form-control" id="detail-buy-or-sell">
                  <option disabled selected value></option>
                  <option value="買">買</option>
                  <option value="売">売</option>
                </select>
                <br>
                <lable>エントリー価格</lable>
                <input class="form-control" type="number" id="detail-entry-price"></input>
                <lable>決済価格</lable>
                <input class="form-control" type="number" id="detail-exit-price"></input>
                <br>
                <lable>エントリー日</lable>
                <input class="form-control" type="date" id="detail-entry-date"></input>
                <lable>決済日</lable>
                <input class="form-control" type="date" id="detail-exit-date"></input>
                <br>
                <lable>成功/失敗</lable>
                <select class="form-control" id="detail-success-or-not">
                  <option value="success" selected>成功</option>
                  <option value="failure">失敗</option>
                </select>
              </div>
              <hr>
              <div class="form-group form-inline">
                <h4>Plan</h4>
                <lable>利食価格</lable>
                <input class="form-control" type="number" id="detail-target-price"></input>
                <lable>利食pips</lable>
                <input class="form-control" type="number" id="detail-profit-if-win"></input>
                <lable>予想利益</lable>
                <input class="form-control" type="number" id="detail-profit-if-win"></input><br>
                <lable>損切価格</lable>
                <input class="form-control" type="number" id="detail-stop-loss"></input>
                <lable>損切pips</lable>
                <input class="form-control" type="number" id="detail-pips-if-lose"></input>
                <lable>予想損失</lable>
                <input class="form-control" type="number" id="detail-loss-if-failed"></input><br>
              </div>
              <div class="form-group">
                <lable>エントリー理由</lable>
                <textarea class="form-control" rows="5" id="detail-entry-reason"></textarea>
              </div>
              <hr>
              <h4>Evaluation</h4>
              <div class="form-group form-inline">
                <label class="radio-inline">
                  <input type="radio" name="evaluation" value="perfect">素晴らしい（´▽｀*）ｱﾊﾊー
                </label>
                <label class="radio-inline">
                  <input type="radio" name="evaluation" value="soso">普通　(0＾ー＾0）
                </label>
                <label class="radio-inline">
                  <input type="radio" name="evaluation" value="bad">悪い　(ノД`)・゜・。
                </label>
              </div>
              <div class="form-group">
                <lable>コメント</lable>
                <textarea class="form-control" rows="5" id="detail-comment"></textarea>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-success" id="detail-update" data-dismiss="modal">Save</button>
          </div>
        </div>

      </div>
    </div>
  </body>
</html>
