<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/trade.css">
    <title>Kimi no FX</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  </head>

  <body>
    <div>
      <h1>Monthly Result</h1>
    </div>    
    <div>
      <table class="table table-striped" id="monthly-result-list">
        {{#each monthlyResult}}
        <tr>
          <td>{{currencyPair}}</td>
          <td>{{amount}}</td>
          <td>{{entryPrice}}</td>
          <td>{{exitPrice}}</td>
          <td>{{entryDate}}</td>
          <td>{{exitDate}}</td>
          <td>{{success}}</td>
        </tr>
        {{/each}}
      <table>
    <div>
  </body>
</html>
