<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/trade.css">
    <title>Kimi no FX</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="js/trade.js"></script>
  </head>

  <body>
    <div>
      <h1>Monthly Result</h1>
    </div>
    <div id="input-area">
      <h2>Trade Log</h2>
      <form class="form-inline">
        <lable>currency pair</lable>
        <select id="input-currency-pair">
          <option value="GBP/JPY" selected>GBP/JPY</option>
          <option value="USD/JPY">USD/JPY</option>
        </select>
        <lable>Amount</lable>
        <input type="number" id="input-amount"></input>
        <lable>Entry Price</lable>
        <input type="number" id="input-entry-price"></input>
        <lable>Exit Price</lable>
        <input type="number" id="input-exit-price"></input>
        <lable>Entry Date</lable>
        <input type="date" id="input-entry-date"></input>
        <lable>Exit Date</lable>
        <input type="date" id="input-exit-date"></input>
        <lable>target price</lable>
        <input type="number" id="input-target-price"></input>
        <lable>profit if win</lable>
        <input type="number" id="input-profit-if-win"></input>
        <lable>stop loss</lable>
        <input type="number" id="input-stop-loss"></input>
        <lable>Loss if Failed</lable>
        <input type="number" id="input-loss-if-failed"></input>
      </form>
    </div>
    <button type="button" class="btn btn-info btn-sm" id="add-new-trade">add new trade</button>
    <div>
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Currency Pair</th>
            <th>Amount</th>
            <th>Entry Price</th>
            <th>Exit Price</th>
            <th>Entry Date</th>
            <th>Exit Date</th>
            <th>Result</th>
            <th>Success/fail</th>
          </tr>
        </thead>
        <tbody id="monthly-result-list">
          {{#each monthlyResult}}
          <tr>
            <td>{{currencyPair}}</td>
            <td>{{amount}}</td>
            <td>{{entryPrice}}</td>
            <td>{{exitPrice}}</td>
            <td>{{entryDate}}</td>
            <td>{{exitDate}}</td>
            <td>profit</td>
            <td>{{success}}</td>
            <td>
              <div class="btn-group" role="group" aria-label="example">
                <button type="button" class="btn btn-danger btn-sm delete-trade">Delete</button>
                <button type="button" class="btn btn-success btn-sm show-details" data-toggle="modal">Details</button>
              </div>
            </td>
          </tr>
          {{/each}}
        </tbody>
      <table>
    </div>
    <!-- Modal -->
    <div id="trade-detail" class="modal fade" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Modal Header</h4>
          </div>
          <div class="modal-body">
            <p>Some text in the modal.</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>

      </div>
    </div>
  </body>
</html>
