<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/trade.css">
    <title>Kimi no FX</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="js/trade.js"></script>
  </head>

  <body>
    <div>
      <h1>Monthly Result</h1>
    </div>
    <div id="input-area">
      <h2>Trade Log</h2>
      <form class="form-inline">
        <lable>通貨ペア</lable>
        <select id="input-currency-pair">
          <option value="GBP/JPY" selected>GBP/JPY</option>
          <option value="USD/JPY">USD/JPY</option>
        </select>
        <lable>買/売</lable>
        <select id="input-buy-or-sell">
          <option value="買" selected>買</option>
          <option value="売">売</option>
        </select>
        <lable>数量</lable>
        <input type="number" id="input-amount"></input>
        <lable>エントリー価格</lable>
        <input type="number" id="input-entry-price"></input>
        <lable>終了価格</lable>
        <input type="number" id="input-exit-price"></input>
        <lable>エントリー日</lable>
        <input type="date" id="input-entry-date"></input>
        <lable>終了日</lable>
        <input type="date" id="input-exit-date"></input>
      </form>
    </div>
    <button type="button" class="btn btn-info btn-sm" id="add-new-trade">トレードを追加</button>
    <div>
      <table class="table table-hover">
        <thead>
          <tr>
            <th>通貨ペア</th>
            <th>買/売</th>
            <th>数量</th>
            <th>エントリー価格</th>
            <th>終了価格</th>
            <th>エントリー日</th>
            <th>終了日</th>
            <th>損益</th>
            <th>成功/失敗</th>
            <th>入力時刻</th>
          </tr>
        </thead>
        <tbody id="monthly-result-list">
          {{#each monthlyResult}}
          <tr>
            <td>{{currencyPair}}</td>
            <td>{{buyOrSell}}</td>
            <td>{{amount}}</td>
            <td>{{entryPrice}}</td>
            <td>{{exitPrice}}</td>
            <td>{{entryDate}}</td>
            <td>{{exitDate}}</td>
            <td>profit</td>
            <td>{{successOrNot}}</td>
            <td>{{insertedTime}}</td>
            <td>
              <div class="btn-group" role="group" aria-label="example">
                <button type="button" class="btn btn-danger btn-sm delete-trade">Delete</button>
                <button type="button" class="btn btn-success btn-sm show-details" data-toggle="modal">Details</button>
              </div>
            </td>
          </tr>
          {{/each}}
        </tbody>
      <table>
    </div>
    <!-- Modal -->
    <div id="trade-detail" class="modal fade" role="dialog">
      <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Trade Detail</h4>
          </div>
          <div class="modal-body">
            <form class="form-inline">
              <h5>基本情報</h5>
              <lable>作成日時</lable>
              <p id="detail-inserted-time"></p>
              <lable>通過ペア</lable>
              <select id="detail-currency-pair">
                <option value="GBP/JPY">GBP/JPY</option>
                <option value="USD/JPY">USD/JPY</option>
              </select>
              <lable>数量</lable>
              <input type="number" id="detail-amount"></input>
              <lable>買/売</lable>
              <select id="detail-buy-or-sell">
                <option value="買" selected>買</option>
                <option value="売">売</option>
              </select>
              <lable>エントリー価格</lable>
              <input type="number" id="detail-entry-price"></input>
              <lable>終了価格</lable>
              <input type="number" id="detail-exit-price"></input>
              <lable>エントリー日</lable>
              <input type="date" id="detail-entry-date"></input>
              <lable>終了日</lable>
              <input type="date" id="detail-exit-date"></input>
              <lable>成功/失敗</lable>
              <select id="detail-success-or-not">
                <option value="success" selected>成功</option>
                <option value="failure">失敗</option>
              </select>
              <hr>
              <h5>プラン</h5>
              <lable>利食価格</lable>
              <input type="number" id="detail-target-price"></input>
              <lable>利食pips</lable>
              <input type="number" id="detail-profit-if-win"></input>
              <lable>予想利益</lable>
              <input type="number" id="detail-profit-if-win"></input>
              <lable>損切価格</lable>
              <input type="number" id="detail-stop-loss"></input>
              <lable>損切pips</lable>
              <input type="number" id="detail-pips-if-lose"></input>
              <lable>予想損失</lable>
              <input type="number" id="detail-loss-if-failed"></input>
              <lable>エントリーの理由</lable>
              <input type="text" id="detail-entry-reason"></input>
              <h5>評価</h5>
              <label class="radio-inline">
                <input type="radio" name="perfect">素晴らしい（´▽｀*）ｱﾊﾊー
              </label>
              <label class="radio-inline">
                <input type="radio" name="soso">普通　(0＾ー＾0）
              </label>
              <label class="radio-inline">
                <input type="radio" name="bad">悪い　(ノД`)・゜・。
              </label>
              <lable>コメント</lable>
              <input type="text" id="detail-comment"></input>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-success" id="detail-update" data-dismiss="modal">Save</button>
          </div>
        </div>

      </div>
    </div>
  </body>
</html>
